*~
*pyc
*.so*
deoxys/libfranka/
*.hdf5
*.npz
deoxys/spdlog
deoxys/yaml-cpp
deoxys/zmqpp
deoxys/protobuf
deoxys/build
deoxys/bin
deoxys/include
deoxys/lib
deoxys/logs
*egg-info
__pycache__
data_collection_example
*_pb2.py
